<strong>Olá, {{ organizer }}</strong>
<p>Houve uma nova inscrição no meetup {{ meetup }}, confira os detalhes abaixo:</p>
<p>
  <strong>Nome: </strong> {{ name }}<br>
  <strong>Email: </strong> {{ email }}
</p>
